body{
    background-color: #f15a23;;
}
.title{
    color:red;
    text-align: center;
}

.showPic{
    background-image: url('image.png');
    background-size: 150px;
  width: 300px;
  height: 300px;
  border: solid 2px red;

}

.showPic2{
    float: right;

}

.showPic3{
    float:left;
    color: #f15a23;
}

.read{
    background-color: white;
    border-radius: 10px;
}